<div class="header">
  <div class="logo">Logo</div>
  <div class="navbar">
    <ul class="navbarList">
      <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
      <li><a routerLinkActive="active" routerLink="/about">About</a></li>
      <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
      <li><a routerLinkActive="active" routerLink="/login">Login</a></li>
      <li><a routerLinkActive="active" routerLink="/users">Users</a></li>
    </ul>
  </div>
</div>
