<h1>Form Group</h1>
<form [formGroup]="loginForm" (ngSubmit)="handleProfile()" method="post">
    <input type="text" formControlName="name" placeholder="Enter name">
    @if (name?.hasError('required') && name?.touched) {
        <span class="error">Name field is required!</span>
    }
    @if (name?.errors?.['maxlength'] && name?.touched) {
        <span class="error">Name is invalid!</span>
    }
    <br><br>
    <input type="text" formControlName="email" placeholder="Enter email">
    @if (email?.hasError('required') && email?.touched) {
        <span class="error">Name email is required!</span>
    }
    @if (email?.errors?.['email'] && email?.touched) {
        <span class="error">Email is invalid!</span>
    }
    <br><br>
    <input type="password" formControlName="password" placeholder="Enter password">
    @if (password?.hasError('required') && password?.touched) {
        <span class="error">Name password is required!</span>
    }
    @if (password?.errors?.['minlength'] && password?.touched) {
        <span class="error">Password is invalid!</span>
    }
    <br><br>
    <button [disabled]="loginForm.invalid" type="submit">Submit</button>
</form>